/*General*/
  
html{
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 100vw;
    margin: auto;
    background-color: #0c0c0c;
    color: white;
}

.checked {
    color: white;
}

/*Header*/

.headerContainer{
    display: flex;
    align-items: center;
    padding: 0em 4em;
    background-color: black;
}

.connect{
   flex-shrink:0;
   font-size: 1.5em;
}

.space{
    flex-grow:1;
}

.logo{
    height:8em;
}
.shoppingBag{
    width:2.5em;
    height:2.5em;
}
.items{
    font-size: 2em;
    padding: 0.1em;
}

/*Main Advertisment*/

.mainAd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em 0em;
}

.mainAdImage{
   height: 140vh;
}

.headphoneButton{
    background-color: darkred;
    text-decoration: none;
    color:white;
    padding:0.6em 1.5em;
    margin:0em 1em 7em 1em;
    border-radius: 2em;
    font-size: 1.3em;
}

.message{
    color: lightblue;
}
.subMessage{
    color:lightblue;
}
/* Options */

.options ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width:100%;
    text-align: center;
}
.options li {
    text-decoration: none;
    list-style: none;
}
.options li a {
    outline: solid;
    outline-style: solid;
    padding: 1em 6em;
    outline-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size:1.5em;
    margin-right:1.5em;
}

/*Results*/

.container {
    max-width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    padding: 2em;
    border-bottom: 1px solid white;
}
.img-col {
    padding: 2em;
}

.img-col img {
    width:30em;
    max-height:100%;
}

.text-col {
    display:flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    max-width: 50%;
    padding: 0em 1em 0em 1em;
}
.text-col p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}

.text-col li {
    font-weight: 300;
    font-size: 1.1em;
    padding-bottom: 10px;
}
.text-col h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin:0;
}
.text-col h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin:0;
}

.bottomContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top:2em;
}

.price{
    font-size: 1.5em;
}

.btn {
    outline: solid;
    outline-color: white;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    list-style: none;
}


/*Footer*/

footer {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background: rgba(39, 39, 39, 0);
    padding: 0em 1em;
}
.media{
    height:2em;
    padding:0em 0.3em;
}

@media screen and (min-width: 1025px) {

    .price{
        font-size:2.2em;
    }

    .mainAd{
        font-size:2em;
    }
}
